@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .header-menu > .btn {
        @apply !h-7 !min-h-[28px] !border !border-primary-border;
    }
    .table > thead {
        @apply sticky top-0 z-[12];
    }
    .table :where(thead) :where(th, td) {
        @apply !bg-[#F9F9FA];
    }
    .table :where(tbody th, tbody td) {
        @apply !bg-white;
    }

    .table:where(:not(.table-zebra)) :where(thead, tbody) :where(th, td) {
        @apply border-[#E4E3E7] !rounded-none;
    }

    .checkbox {
        @apply !border-[#BAB8C1];
    }
    .font-sm-medium {
        @apply font-general-sans font-medium text-sm;
    }
}

@font-face {
    font-family: "GeneralSans-Variable";
    src: url("/public/fonts/GeneralSans-Variable.woff2") format("woff2"),
        url("/public/fonts/GeneralSans-Variable.woff") format("woff"),
        url("/public/fonts/GeneralSans-Variable.ttf") format("truetype");
    font-weight: 200 700;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "GeneralSans-Variable";
    src: 
    /* 400 */ url("/public/fonts/GeneralSans-Regular.woff2") format("woff2"),
        url("/public/fonts/GeneralSans-Regular.woff") format("woff"),
        url("/public/fonts/GeneralSans-Regular.ttf") format("truetype"),
        /* 500 */ url("/public/fonts/GeneralSans-Medium.woff2") format("woff2"),
        url("/public/fonts/GeneralSans-Medium.woff") format("woff"),
        url("/public/fonts/GeneralSans-Medium.ttf") format("truetype"),
        /* 600 */ url("/public/fonts/GeneralSans-Semibold.woff2") format("woff2"),
        url("/public/fonts/GeneralSans-Semibold.woff") format("woff"),
        url("/public/fonts/GeneralSans-Semibold.ttf") format("truetype");
    font-weight: 400 500 600;
    font-display: swap;
    font-style: normal;
}
